body {
	font-family: 'Lato', sans-serif;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
}
#error-msg
{
    width: 40%;
    margin: 0px auto;
}
* {
    font-family: 'Lato', sans-serif !important;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 12px;
}


h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif !important;
    color: #333;
}

h1 {
    font-size: 2.0em;
    margin: 5px 10px 5px 18px;
    font-weight: 500;
}

h2 {
    font-size: 1.6em;
    margin: 5px 0 12px;
}

h3 {
    font-size: 1.2em;
    margin: 3px 0 10px;
}

h4 {
    font-size: 1.1em;
    margin: 3px 0 8px;
}

h5 {
    font-size: 15px;
    margin: 0 0 5px;
}

p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 6px;
}

hr {
    width: 40%;
    margin: 10px auto;
}

.clearfix {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    background-color: transparent;
}



.navbar-default{
	background-color: transparent;
	border-color: transparent;
}

.navbar-nav{
	margin: 35px 10px 0;
}

.navbar-default .navbar-nav li a{
	color: #fff;
}

.navbar-default .navbar-nav li a:hover{
	color: #F69147;
	border-bottom: 2px solid #F69147;
}

.navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:active:focus{
	color: #F69147;
	border-bottom: 2px solid #F69147;
}

.logo img{
	margin: 10px 0 0 10px;
}

#engine {
	padding: 200px 0 100px 0;
	color: #fff;
}

#engine h1{
	font-size: 35px;
    color: #ffffff;
    font-style: normal;
}

#engine p{
	margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 100 !important;
}

.text-space {
	height: 50px;
	border-radius: 3px 0 0 3px;
}

.enter {
	height: 50px;
	background-color: #F69147;
	border: 1px solid #F69147;
	border-radius: 0 3px 3px 0;
	color: #fff;
	padding: 10px 40px 10px;
}


.enter:hover {
	background-color: #F69147;
	border: 1px solid #F69147;
	color: #fff;
}

@media(max-width:768px) {

	.logo img {
		width: 100px;
		margin: 10px 0 0 15px;
	}

	.navbar-nav {
		margin: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.navbar-toggle {
		margin-top: 30px;
	}

	#design {
		text-align: center;
	}

	#community .image {
		padding-bottom: 15px;
	}

}
